
<div class="sidebar__block">
    <h3 class="block__title">时间归档</h3>
    <ul class="block-list">
        {% for date,blog_count in blog_dates_dict.items %}
            <li class="block-list-item">
                <a class="block-list-link" href="{% url 'blog:archive' date.year date.month %}">
                    {{ date.year }}年{{ date.month }}月
                </a>
                <span class="block-list-count">{{ blog_count }}</span>
            </li>
        {% empty %}
            暂无归档！
        {% endfor %}
    </ul>
</div>



